@media (max-width: 768px) {

.wrapper {
	flex-direction: column;
	height: auto;
}

footer {
	bottom: auto;
	top: 0;
	height: auto;
	padding: 7px 14px;

	display: flex;
	flex-direction: column;
}

footer .half {
	flex-direction: column;
	justify-content: flex-start;
	gap: 0;
	height: auto;
}

.nav-left, .nav-right {
	display: none;
}

.half {
	position: relative;
	width: 100vw;
	min-height: 80vh;
	display: flex;
}

.page {
	display: flex;
	flex-direction: column;
	padding: 70px 14px;
}
	
.left, .right {
	padding: 0;
}

.text-main__wrapper p, .text-main__wrapper h2 {
	max-width: 50%;
}

}